[user]
    name = Andrew Speed
    email = aspeed@cloudsmith.io
	signingkey = 59F2DA543076EC00
[alias]
    st = status
    co = checkout
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[branch]
    sort=-committerdate
[color]
    ui = true
[core]
    editor = vim
    autocrlf = input
	excludesfile = /Users/aspeed/.gitignore_global
[help]
    autocorrect = 1
[push]
    default = simple
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
